ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

.container-body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
}

/* sidebar */

.sidebar {
	flex-shrink: 0;
	overflow: hidden;
	background-color: rgb(19, 41, 63);
    flex-basis: 148px;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
    background-image: url(../img/sidebar-bg.png);
}


.sidebar_menu{
    flex-grow: 1;
}

.dropdown-toggle::after {
    display: none;
}   


.fa-bell{
    color: rgb(249, 169, 20)
}


.main-content {
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--dark-blue);
}

.navbar-container {	
    width: 100vw;
	
}

