ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

.container-body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
}

/* sidebar */

.sidebar {
	flex-shrink: 0;
	overflow: hidden;
	background-color: rgb(19, 41, 63);
    flex-basis: 148px;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
    background-image: url(../img/sidebar-bg.png);
}


.sidebar_menu{
    flex-grow: 1;
}

.dropdown-toggle::after {
    display: none;
}   


.fa-bell{
    color: rgb(249, 169, 20)
}


.main-content {
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--dark-blue);
}

.navbar-container {	
    width: 100vw;
	
}

.logo-sm{
	width: 50px;
}

.title{
	font-size: 28px;
}

.countnav{
	background-color: rgb(27, 114, 232);
	color: white;
	padding: 20px;
}

.badge{
	background-color: rgba(53, 53, 192, 0.532);
	padding: 5px;
}

.plus-btn{
	color: white;
	font-size: 35px;
}

.expand::before{
	content: '\00BB';
	display:block;
	color: white;
}


@media  screen and (max-width: 575px) {

    .sidebar{
        flex-basis: 50px;
		padding: 20px 35px;
            
    }

	.sidebar_menu{
		align-items: center;
		padding: 0;
	}

	.setting{
		justify-content: center;
		padding: 0;
	}

	.item_icon > span{
		display: none;
	}

	.reg_offcanvas{
		order: -1;
		justify-content: flex-start !important;
		padding: 5px 0;
	}

	.row_countnav{
		flex-direction: column;
	}
}

